*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(137, 182, 222);
    width: 100%;
}


h4{
    font-size: 30px;
}

.navs{

    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left:-20px;
}

.navs li{
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
}

button {

    padding: 10px 25px;
    border-radius: 10px;
    margin-right: 20px;
    background-color: orangered;
    cursor: pointer;
    border: none;

}

button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

